<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fox OS X (Swift).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Fox iOS (Swift).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Fox tvOS (Swift).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9C1515E21BAABAE200A3419A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C73B8BE1BA8625800F5D836</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CB2D91A1B67DB2E00EC4C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
